<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <th:block th:include="common/common_header :: common_header"></th:block>
    <title>跳转中</title>
    <script>
        $(function(){
            $("#formToIndex").submit();
        });
    </script>
</head>
<body>
    <div style="display: none;">
        <form id="formToIndex" th:action="@{/reviewCf/index}" method="post">
            <input name="reviewDocId" th:value="${reviewDocId}"/>
            <input name="reviewDocName" th:value="${reviewDocName}"/>
        </form>
    </div>
</body>
</html>