<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <th:block th:include="common/common_header :: common_header"></th:block>
    <title>demo</title>
    <!-- th:include="include/header :: head(~{::title},~{::link},~{::script})"
     <meta charset="UTF-8">
    <title>Title</title>
    <link  rel="stylesheet" type="text/css" href="../css/base.css"/>
    <script type="text/javascript" src="../js/base.js"></script>-->
    <script type="text/javascript">
        var windowWidth = ($(window).width()-100);
        var windowHeight = ($(window).height()-50);
        function layOpen(){
            $.ajax({
                url:projectName+"/pharmacist/info",
                data:{},
                success:function(data){
                    windowWidth = ($(window).width()-100);
                    windowHeight = ($(window).height()-50);
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        area: [windowWidth+"px", windowHeight+"px"], //宽高
                        content: data,
                        end: function () {
                            console.log("xxxxxxxxxxx");
                        }
                    });
                }
            });
        }
    </script>
</head>
<body>
    您好<div th:text="${t1}"></div>
    <button onclick="layOpen();">弹框</button>

</body>
</html>