<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <th:block th:include="common/common_header :: common_header"></th:block>
    <title>错误信息</title>
    <style>
        .errorMsg{
            color:red;
            font-size: 30px;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="errorMsg" th:text="${errorMsg}?${errorMsg}:'系统出错!'"></div>
            </div>
        </div>
    </div>
</body>
</html>